@import url("scroll_icon.css");

* {
  font-family: "Montserrat", sans-serif;
}

.list a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: white;
}
.photos img {
  border-radius: 20px;
}

.effet {
  background-image: url(../images/bg.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 15px;
}
.vignette {
  position: relative;
}
.desc {
  position: absolute;
}
a.bouton_vp {
  padding: 10px 30px;
  background: #fa9d5a;
}
a.bouton_ve {
  padding: 10px 30px;
  background: #70707020;
}

.header_cta a {
  min-width: 15rem;
}
.bttn {
  min-width: 150px;
  padding: 15px 10px;
  margin: 20px;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #707070;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.7),
    0px 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.bttn:hover {
  border-style: solid;
  border-color: #fa9d5a;
  border-width: 1px;
}

.licences {
  max-width: 30%;
  border-radius: 15px;
}
